* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    position: relative;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(./img/first/background.png);
    background-size: cover;
    background-color: grey;
    padding: 0 200px;
    max-width: 100vw;
}

.header {
    width: 100%;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-shadow: 0 0 2px #111;
}

nav ul {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: -120px;
    position: relative;
}

nav ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #fff;
    text-decoration: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.home .btn {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 10px 30px;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
    text-align: center;
    line-height: 52px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
}

.left h1 {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
}

.left p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin: 30px 0;
}

.btns {
    height: 52px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.btns .btn1 {
    height: 100%;
    width: 185px;
    text-align: center;
    line-height: 52px;
    background: #23A6F0;
    border-radius: 37px;
    margin: 5px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.btns .btn2 {
    height: 100%;
    width: 185px;
    text-align: center;
    line-height: 52px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 37px;
    margin: 5px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}

.container {
    position: relative;
    padding: 30px 0;
    min-width: 328px;
    height: 550px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container form {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}

.form-item {
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.form-item h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.form-item input {
    max-height: 50px;
    width: 246px;
    margin: 5px;
    padding: 15px 10px;
    border: 1px solid #E6E6E6;
}

.form-item select {
    max-height: 50px;
    width: 246px;
    margin: 5px;
    padding: 15px 10px;
    border: 1px solid #E6E6E6;
}

.container .btn {
    width: 248px;
}

.input {
    display: flex;
}

.input img {
    height: 8px;
    width: 14px;
    position: relative;
    top: 23px;
    left: -50px;
}


/* second screen */

.leading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Montserrat;
}

.leading h2,
.leading p {
    text-align: center;
}

.leading h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.leading p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .2px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.card-top {
    width: 329px;
    height: 132px;
    background: #8EC2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 11px 11px 0 0;
}

.card-top h4 {
    margin-left: 7px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.card {
    border-radius: 11px;
    margin: 15px;
}

.image {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background-color: #fff;
    margin-right: 7px;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background: #FFFFFF;
    border: 1px solid #A9D6FF;
    box-sizing: border-box;
    border-radius: 11px;
    width: 328px;
}

.card-bottom ul li {
    list-style: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.card-bottom ul li::before {
    content: '-';
    margin-right: 10px;
}

.card-bottom a {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #23A6F0;
    text-decoration: none;
}


/* footer */

footer {
    width: 100%;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer .row {
    font-family: Montserrat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.block {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.social {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: .1px;
    margin-bottom: 15px;
    color: #252B42;
}

.block {
    margin-left: 55px;
}

.block p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 213px;
    margin: 5px 0;
}

.block:nth-child(1) p {
    margin: 25px 0;
}

footer p {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    font-family: Montserrat;
}

.form-item input,
.form-item select {
    outline: none;
}

.form-item input::-webkit-calendar-picker-indicator {
    width: 10px;
    height: 10px;
    background: url(./img/first/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: -18px;
}

.form-item select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


/* faq  */

.faq {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 80px;
    background-color: #fafafa;
}

.faq h2 {
    font-size: 40px;
}

.info {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 10px;
    margin-bottom: 95px
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.faq__card {
    background-color: #fff;
    height: 150px;
    width: 330px;
    margin-right: 30px;
    border-radius: 9px;
    margin-bottom: 30px;
    display: flex;
    padding: 25px 32px;
}

.faq__card:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.faq__card_text p {
    font-size: 16px;
    color: #252B42;
    letter-spacing: .1px
}

.faq__card_text p:nth-child(2n) {
    font-size: 14px;
    color: #737373;
    margin-top: 5px;
    letter-spacing: .2px;
}

.faq__card img {
    margin-right: 20px;
    height: 16px;
    width: 9px;
}


/* get in  */

.get-in__menu {
    width: 100%;
    max-width: 100vw;
    height: 257px;
    background-color: #252B42;
    padding: 80px 50px;
    margin: 80px 0;
}

.get-in h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
}

.get-in__box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.get-in h6 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.get-in button {
    background-color: #23A6F0;
    color: white;
    position: relative;
    top: -70px;
    width: 117px;
    height: 58px;
    border: none;
    border-radius: 5px;
    left: -10px;
    font-size: 14px;
}

.get-in input {
    width: 276px;
    height: 58px;
    position: relative;
    top: -70px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
}

.text p {
    color: #737373;
}

.text h2 {
    color: #252B42;
}

.comments {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.comment {
    height: 327px;
    width: 25%;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 32px;
    margin-right: 32px;
}

.comment:last-child {
    margin-right: 0;
}

.comment p {
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.leading:nth-child(2n) {
    min-height: 100vh;
    justify-content: space-around;
}


/* pricing  */

.features .active {
    list-style: url(./img/pricing/acc.png);
    list-style-position: inside;
    line-height: 24px;
}

.features .disabled {
    list-style: url(./img/pricing/noacc.png);
    list-style-position: inside;
}

.priceing {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-card {
    height: 665px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 40px;
    background: #FFFFFF;
    border: 1px solid #23A6F0;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 1px;
}

.price-num {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #23A6F0;
}

.price-num__right {
    margin-right: 10px;
    font-weight: 900;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #23A6F0;
}

.priceing .text {
    text-align: center;
    margin-bottom: 80px;
}

.priceing .text h2 {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 57px;
}

.plan {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.describe {
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
}

.btn {
    background-color: #23A6F0;
    padding: 15px 82px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.features li {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 15px;
}

.price-card:nth-child(2) {
    background: #252B42;
}

.price-card:nth-child(2) .plan,
.price-card:nth-child(2) .describe,
.price-card:nth-child(2) .features li {
    color: #fff;
}

@media screen and (max-width:1270px) {
    .home {
        padding: 0 50px;
    }
    nav ul {
        left: 0;
    }
    .btns {
        flex-direction: column;
        align-items: center;
    }
    .section {
        flex-direction: column;
    }
    .home {
        max-width: 100vw;
        min-height: 200vh;
    }
    .home .left {
        height: 70vh;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .section .left h1,
    .section .left p {
        text-align: center;
    }
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        max-width: 800px;
    }
    nav ul {
        width: 240px;
    }
    nav ul li a {
        font-size: 10px;
    }
}